* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

  
.common-echarts {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    background-color: #fff;
}

.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w60 {
    width: 60%;
}
.w30 {
    width: 30%;
}